.idea/
moje_zdanie/
yolov8n.pt
yolov8x.pt
small_annotated/
datasets/
kaggle_dataset001/
lp_video.mp4
testocr.png
object_detection.h5
object_detection.keras
data.yaml
car000cut.jpg
runs/
object_detection/
my_hq_photos/
labels.csv
test.ipynb
